h1 {
    color: rgb(0, 0, 0);
  }
#more {display: none;}
#mores {display: none;}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {background: rgb(175, 174, 174);}
.default {color: black;}

.gap-50 {
  width:100%;
  height:50px;
}

h2 {
  color: rgb(255, 0, 0);
  font-size: 20px;
}
h3 {
  color: rgb(17, 0, 255);
  font-size: 10px;
}

:root {
  --shadow: #ffdad4;
  --black: #212121;
  --white: #fafafa;
  font-family: 'DM Sans', sans-serif;
}
#bodyy {
  margin: 0;
  background: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  transition: 0.3s 0.3s ease-in-out;
}

#clock-grid {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);
}

#clock-grid * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  opacity: 0.4;
}

.time {
  opacity: 1 !important;
  text-shadow: 0 0 10px var(--black);
  transition: 0.3s 0.3s ease-in-out;
}

#theme-selector {
  position: absolute;
  font-size: 1rem;
  top: 10px;
  right: 10px;
}

#theme-selector > input {
  display: none;
}

#theme-selector > label {
  position: relative;
}

#theme-selector > label:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 20px;
  border: 1px solid var(--black);
  left: -50px;
  border-radius: 40px;
  transition: 0.3s ease-out;
}

#theme-selector > label:after {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background: var(--black);
  border-radius: 100%;
  left: -45px;
  top: 4px;
  transition: 0.3s 0.2s ease-out;
}

#theme-selector > input:checked ~ label:after {
  left: -28px;
  transition: 0.3s 0.2s ease-in;
  background: var(--white);
}

#theme-selector > input:checked ~ label:before {
  transition: 0.3s ease-in;
  background: var(--black);
  border-color: var(--white);
}

body.dark {
  background: var(--black);
  color: var(--white);
  transition: 0.3s 0.3s ease-in-out;
}
body.dark span.time {
  text-shadow: 0 0 10px var(--white) !important;
  transition: 0.3s 0.3s ease-in-out;
}